server:
  port: 8083

spring:
  application:
    name: fleet-service
  datasource:
    url: jdbc:postgresql://localhost:5432/logiflow_fleet
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect